<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"></script>



<link rel="stylesheet" type="text/css" href="{% static 'KutijaApp/style.css' %}"/>

<script
src="http://maps.googleapis.com/maps/api/js">
</script>


<script>
var myCenter=new google.maps.LatLng(44.790721, 20.437134);
 
function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:12,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker=new google.maps.Marker({
  position:{lat:44.772954, lng:20.474930},
  title: 'Fakultet Organizacionih Nauka',
  });

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>



<body>
	
	{% include "navbar.html" %}
	<div class="slajder" >
		<h1><b>Pametna Kutija - Čep za hendikep</b></h1>
		<p style="color:black"><b>Primena internet of things-a humanitarne svrhe</b></p>	
	</div>
	
	<div class="row" id="kolone" style="margin-top:20px; ">
		<h2><b>Šta smo do sada uradili:</b></h2>
		<br>
		<br>
		<br>
		<div class="col-md-4" id="capNumber">
			<h3>Sakupljeno je</h3>
			<br>
			<h1><b>{{capSum}} cepova</b></h1>
		</div>
		<div class="col-md-4" id="percentage" >
			<h3>Ispunjenost cilja</h1>
			<div id="canvas-holder" >
				<canvas id="chart-area"></canvas>
				<div class="procenatTekst">
					<h5>{{percent}}%</h5>
				</div>
			</div>	
		</div>
		
		<div class="col-md-4" id="dayNumber">
			<h1><b>{{daysLeft}} dana</b></h1>
			<p>do ispunjenja cilja</p>
		</div>
	</div>

	<div id="treci">
		<br>
		<h1><b>Gde se nalazimo?</b></h1>
		<br>
		<div id="googleMap" ></div>
	</div>
	
</body>
<script>

		var doughnutData = [
				{
					value: {{percent}},
					color:"#337AB7",
					label: "Sakupili"
				},
				{
					value: 100-{{percent}},
					color: "#F1F1F1",
					label:"Ostalo"
				}

			];

			window.onload = function(){
				var ctx = document.getElementById("chart-area").getContext("2d");
				window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive : true});
			};



	</script>
</html>