<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'KutijaApp/style.css' %}"/>

	<title>Lokacije</title>
</head>
<body>

	{% include "navbar.html" %}

	<div id="locations" class="row">
		{% for location in locations %}
	  	<a href="/lokacija?id={{location.id}}"><div class="col-md-4 centerdv well locationPost">
	  	<img src={{location.locationImg}} style="max-width:100%">
	  	<br>
	  	<b>{{location.name}}</b>
	  	<br>
	  	<p>{{location.description}}</p>
	  	<a href={{location.locationLink}}>veb sajt</a>
	  	
	  	</div></a>
	  	{% endfor %}


	</div>
	
</body>
</html>